body {
   font-family: Helvetica, Arial, sans-serif;
   line-height: 1.3;
}

ul {
   list-style: none;
}

a {
   color: #37a2f7;
   text-decoration: none;
   border-bottom: 1px dotted #37a2f7;
}

#conteudo {
  width: 900px;
  margin: 0 auto 40px;
  padding: 0;
}

.coluna-principal {
  float: left;
  width: 70%;
}

.coluna-lateral {
  float: right;
  width: 20%;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-top: 20px;
}

img.picture {
    margin: 3px;
    width: 260px;
    border: 2px solid #6d6d6d;
    border-radius: 5px;
    filter: opacity(0.6);
    transition: 0.2s;
}

img.picture:hover {
  filter: opacity(1);
}

#capa {
  width: 100%;
}
